.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #443f41;
  background-color: #131011;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.post h2,
.post p {
  margin: 0;
}

.post header {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post header p {
  font-size: 0.9rem;
  color: #b1a9ac;
}

.post img {
  width: 8rem;
  height: 6rem;
  object-fit: cover;
}

.post-content {
  flex: 1;
}
