.auth-form {
  width: 90%;
  max-width: 40rem;
  border-radius: 6px;
  padding: 3rem 4rem;
  margin: 5rem auto;
  background-color: #b8b4c3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.auth-form img {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 1rem auto;
  filter: drop-shadow(0 0 6px rgba(30, 30, 32, 0.3));
}

.auth-form label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  color: #46454a;
}

.auth-form input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  background-color: #d9d7df;
  color: #46454a;
}

.auth-form button {
  width: 100%;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #4b34a9;
  color: #d0cfd6;
  border-radius: 3px;
}

.auth-form button:hover,
.auth-form button:active {
  background-color: #432aa3;
}

.auth-form a {
  color: #564f6e;
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  text-align: center;
}

.auth-form a:hover {
  color: #4b34a9;
}

.form-errors {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #a21d4c;
}
